
.home {
    padding-top: 0cm;
    padding-bottom: 0cm;
    background-color:#A4A4A4;
}

.curriculo {
    padding-top: 0cm;
    background-color: #A4A4A4;
}

.trabalho-voluntario {
    background-color: #A4A4A4;
}

.hobbies {
    background-color: #A4A4A4;
}

.contato {
    background-color: #8181F7;
}

.margin {
    padding-top: 300px;
}