
.home {
    background-color:#F2F2F2;
}

.curriculo {
    background-color: #E6E6E6;
}

.trabalho-voluntario {
    background-color: #D8D8D8;
}

.hobbies {
    background-color: #BDBDBD;
}

.contato {
    background-color: white;
}

.margin {
    padding-top: 1px;
    padding-bottom: 1px;
}

.linkedin {
    padding-top: 20px;
}

.footer {
    background-color: #1C1C1C;
    padding-top: 10px;
    padding-bottom: 5px;
    color: whitesmoke;
    text-align: center;
}

