
.margin {
    padding-top: 300px;
}

.home {
    background-color:#A4A4A4;
}

.curriculo {
    background-color: #A4A4A4;
}

.trabalho-voluntario {
    background-color: #A4A4A4;
}

.hobbies {
    background-color: #A4A4A4;
}

.contato {
    background-color: #8181F7;
}